
.card{
  color: #fff;
  background-color: rgb(157, 196, 231);
}

.btn{
  font-weight: 500;
}
th{
    white-space:nowrap;
  }
  img{
    width: 100%;
    height: 400px;
    
  }
  @media (max-width: 768px) {
    table th:nth-child(1),
    table td:nth-child(1) {
      display: none;
    }
  }
  